.play-area {
  position: relative;
  display: flex;
  align-items: center;

  &__game-area {
    width: 55%;
  }

  &__hidden-word {
    margin-bottom: 50px;

    &-list {
      margin: $margin-auto;
      display: flex;
      justify-content: flex-start;
      list-style-type: none;
      flex-wrap: wrap;

      &-item {
        margin: 0 5px;
        min-width: 30px;
        min-height: 30px;
        font-size: 18px;
        border-bottom: 4px solid rgb(0, 0, 0);
        text-align: center;
      }
    }
  }

  &__gallows-area {
    position: relative;
    margin-bottom: 40px;
  }

  &__human-figure {
    position: absolute;
    top: 14px;
    left: 48px;
  }

  &__attempts-left {

    &-list {
      display: flex;
    }

    &-health {
      margin: 0 5px;
      fill: green;
    }
  }

  &__letter-list-container {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
  }

  &__letter-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__letter-list-button {
    padding: 20px 10px;
    min-width: 50px;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background-color: #cfcfcf;
    }

    &:active {
      opacity: .5;
    }

    &:disabled {
      opacity: .2;
    }
  }
}
