$margin-auto: 0 auto;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1000px;
$max-desktop-width: 1600px;

$roboto: "Roboto";
$oswald: "Oswald";

$white-color: #ffffff;
$black-color: #000000;
$dark-red-color: rgb(149, 22, 10);

$rules-font-color: rgb(182, 139, 139);
$site-background-color: #f4f0f0;
$font-color: #c47829;
