.hidden-word {
  margin-bottom: 50px;

  &__letter-list {
    margin: $margin-auto;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    flex-wrap: wrap;
  }

  &__letter-item {
    margin: 0 5px;
    min-width: 30px;
    min-height: 30px;
    font-size: 18px;
    border-bottom: 4px solid $black-color;
    text-align: center;
  }
}
