.game-timer {
  position: absolute;
  bottom: 113.5%;
  left: 9%;
}

@media (min-width: $tablet-width) {
  .game-timer {
    bottom: 132%;
    left: 5%;
  }
}

@media (min-width: $desktop-width) {
  .game-timer {
    bottom: 3%;
    left: 2%;
  }
}
