.game-header {
  margin: $margin-auto;
  margin-bottom: 50px;
  width: $mobile-width;
  padding-top: 10px;

  &__container {
    position: relative;
  }

  &__game-name {
    margin: $margin-auto;
    padding-bottom: 30px;
    width: 50%;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
  }

  &__game-rules-button {
    position: absolute;
    top: 80%;
    right: 34%;
    font-family: inherit;
    font-size: 16px;
    color: rgba(33, 71, 205, 1);
    border: none;
    cursor: pointer;
    z-index: 1;

    &:hover {
      color: rgba(33, 71, 205, .5);
    }

    &:active {
      color: rgb(233, 194, 242);
    }
  }

  &__game-rules-popup {
    position: absolute;
    top: 140%;
    padding: 15px 20px;
    background-color: $white-color;
    box-shadow: 2px 4px 15px -3px rgba(0, 0, 0, .5);
    z-index: 2;
    transform: translateY(-2000px);
    transition: transform .5s ease-in-out;

    &--opened {
      transform: translateY(0);
    }
  }

  &__game-rules-headline {
    margin: $margin-auto;
    margin-bottom: 10px;
    width: 65%;
    text-align: center;
    color: $black-color;
  }

  &__game-rules-list {
    margin-left: 15px;
    list-style-type: decimal;
    color: $rules-font-color;
  }
}

@media (min-width: $tablet-width) {
  .game-header {
    margin-bottom: 100px;
    width: $tablet-width;

    &__game-name {
      margin-bottom: 80px;
      font-size: 28px;
      line-height: 32px;
    }

    &__game-rules-button {
      top: 5%;
      right: 10%;
      font-size: 18px;
    }

    &__game-rules-popup {
      top: 70%;
      right: 0;
      width: 40%;
    }
  }
}

@media (min-width: $desktop-width) {
  .game-header {
    margin-bottom: 90px;
    width: $desktop-width;
    padding-top: 20px;

    &__game-name {
      margin-bottom: 0px;
      font-size: 38px;
      line-height: 48px;
    }

    &__game-rules-button {
      top: 12%;
      right: 15%;
      font-size: 20px;
    }

    &__game-rules-popup {
      top: 60%;
      right: 5%;
      padding: 25px;
      width: 32%;
    }

    &__game-rules-headline {
      margin-bottom: 15px;
    }
  }
}
